#appRunMooc .mooc{border-top : 1px solid grey; text-align: left}
#appRunMooc .moocRead{font-weight: normal}
#appRunMooc .moocNotRead{font-weight :bold }

#appRunMooc .mooc .date{color: #24D6FF}
#appRunMooc .mooc div {display:inline-block; margin:5px;width : 180px;}
#appRunMooc .mooc span{ margin:5px;} 

#appRunMooc .tools{text-align:left;padding:5px; margin-top:-10px; background-image: linear-gradient(to bottom, #eeeeee 0px, #bebebe 100%); border-bottom:1px solid green; width:100%; margin-top:0px}
#appRunMooc .tools div{display: inline-block}

#appRunMooc #dvDesktop{
    text-align: left;
}

#appRunMooc  #Tools{text-align:left; border-bottom: 1px solid grey; margin-bottom: 2px; -moz-box-shadow: 10px 10px 5px 0px #c0c0c0;-webkit-box-shadow: 10px 10px 5px 0px #c0c0c0;-o-box-shadow: 10px 10px 5px 0px #c0c0c0;box-shadow: 10px 10px 5px 0px #c0c0c0;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
